n8n/secretary_data_sync_workflow.json
{
  "name": "Secretary System Data Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Runs every 6 hours to sync secretary system data"
    },
    {
      "parameters": {
        "url": "=YOUR_SECRETARY_SYSTEM_API_URL/export/materials",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Materials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 200],
      "notes": "Fetch materials from secretary system"
    },
    {
      "parameters": {
        "url": "=YOUR_SECRETARY_SYSTEM_API_URL/export/services",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Services",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "notes": "Fetch services from secretary system"
    },
    {
      "parameters": {
        "url": "=YOUR_SECRETARY_SYSTEM_API_URL/export/suppliers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Suppliers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 400],
      "notes": "Fetch suppliers from secretary system"
    },
    {
      "parameters": {
        "url": "=YOUR_SECRETARY_SYSTEM_API_URL/export/responsible-persons",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Responsible Persons",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 500],
      "notes": "Fetch responsible persons from secretary system"
    },
    {
      "parameters": {
        "url": "=YOUR_SECRETARY_SYSTEM_API_URL/export/accounting-operations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Accounting Operations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 600],
      "notes": "Fetch accounting operations from secretary system"
    },
    {
      "parameters": {
        "functionCode": "// Combine all fetched data\nconst materials = $node[\"Fetch Materials\"].json;\nconst services = $node[\"Fetch Services\"].json;\nconst suppliers = $node[\"Fetch Suppliers\"].json;\nconst responsiblePersons = $node[\"Fetch Responsible Persons\"].json;\nconst accountingOperations = $node[\"Fetch Accounting Operations\"].json;\n\nreturn {\n  json: {\n    sync_type: 'full',\n    synced_at: new Date().toISOString(),\n    data: {\n      materials: Array.isArray(materials) ? materials : [materials],\n      services: Array.isArray(services) ? services : [services],\n      suppliers: Array.isArray(suppliers) ? suppliers : [suppliers],\n      responsible_persons: Array.isArray(responsiblePersons) ? responsiblePersons : [responsiblePersons],\n      accounting_operations: Array.isArray(accountingOperations) ? accountingOperations : [accountingOperations]\n    }\n  }\n};"
      },
      "name": "Combine Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400],
      "notes": "Combine all data into single payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=YOUR_OKSANA_INTERFACE_URL/api/secretary/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Send to OKSANA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400],
      "notes": "Send combined data to OKSANA_INTERFACE"
    },
    {
      "parameters": {
        "functionCode": "// Log sync results\nconst response = $input.first().json;\n\nconsole.log('Sync completed:', {\n  synced_at: response.synced_at,\n  counts: response.counts\n});\n\nreturn {\n  json: {\n    success: true,\n    message: 'Secretary data synced successfully',\n    ...response\n  }\n};"
      },
      "name": "Log Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400],
      "notes": "Log sync results"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Materials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Services",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Suppliers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Responsible Persons",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Accounting Operations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Materials": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Services": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Suppliers": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Responsible Persons": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Accounting Operations": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Data": {
      "main": [
        [
          {
            "node": "Send to OKSANA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to OKSANA": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
